body
{
  margin: 25px 0;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.6667em;
  padding:0;
}

#symfony-container
{
  margin: auto;
  background-color: white;
  width: 95%;
  min-width: 990px;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

div#snhu-image-container
{
  background-color: #000066;
  height: 55px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

div#messages
{
  text-align: center;
}

div#error_container
{
  text-align: center;
  margin: auto;
}

div#saleCreditsInfo
{
  text-align: center;
}

a:link
{
  color: #003399;
  text-decoration: none;
}

img
{
  border: 0;
}

img#banner
{
  max-height: 80px;max-width: 300px;
}

a:hover
{
  text-decoration: none;
}

a:visited
{
  color: #003399;
  text-decoration: none;
}

a, a:visited, a:link, a:active, a:hover, a:focus
{
  outline: none;
}

hr
{
  border-bottom: 1px dotted #D1D1D1;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

#header_table
{
  width: 100%;
}

#site-logo
{
  margin:0;
  padding: 5px;
  float:left;
  min-height: 80px;
  max-height: 80px;
  max-width: 300px;
}

#header-left
{
  width: 45%;
}

#main-nav
{
  clear: both;
  font-size: 1.03em;
  line-height: 1.8em;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-nav ul
{
  margin: 0 auto;
  padding: 0 0 0 10px;
  display: table;
}
#main-nav li
{
  padding: 0;
  margin: 0 1px;
  line-height: 1em;
  display: inline;
  float: left;
  background-color: #ddd;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0.65, #aaaaaa),color-stop(0.9, #bbbbbb),color-stop(0.98, #e1e1e1));
  background: -moz-linear-gradient(center bottom,#aaaaaa 65%,#bbbbbb 90%,#e1e1e1 98%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bbbbbb', EndColorStr='#dddddd', GradientType=0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

#main-nav li a
{
  padding: 5px 10px;
  display: block;
  float: left;
}

/*#main-nav li a:link
{
color:#fff;
}

#main-nav li a:visited
{
color:#fff;
}

#main-nav li a:hover
{
color:#fff;
} */

#main-nav li.selected
{
  background: -moz-linear-gradient(center bottom, #DDD 30%, #BBb 90%, #E1E1E1 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, #DDD), color-stop(0.9, #BBB), color-stop(1, #E1E1E1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#dddddd', endColorstr='#eeeeee');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#dddddd', endColorstr='#eeeeee')";  
}

#main-nav li.selected a, #main-nav li.selected a:link, #main-nav li.selected a:visited, #main-nav li.selected a:active
{
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#header-right
{
  float: right;
  min-width: 250px;
  padding: 5px 10px 0 10px;
  text-align: right;
  white-space: nowrap;
  display: block;
}

#right-nav ul
{
  float: right;
  text-align: right;
  padding: 0;
  margin: 5px 0 5px !important;
  min-width: 200px;
}

#right-nav li
{
  display: inline;
  padding: 0;
  color: #D1D1D1;
}

#right-nav li .navcount
{
  padding: 0 0 0 2px;
}

#right-nav li a
{
  padding: 0 5px;
}

#usf
{
  text-align: right;
  float: right;
  margin: 0 5px;
  clear: right;
}

#usf_query
{
  width: 130px;
  padding: 2px 3px 3px 3px;
  border: 1px solid #A5ACB2;
}

#usf_submit
{
  border-color: #A3A3A3 #A3A3A3 #A3A3A3 #E3E3E3;
  margin: 0;
  background: #C6C5D7 url(../images/btn-bkgd.gif) repeat-x left top;
  border-width: 1px 1px 1px 0;
  padding: 2px 3px;
  color: #333;
  cursor: pointer;
  font-size: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/**************** SUB NAVIGATION ****************/
#sub-nav
{
  clear: both;
  white-space: nowrap;
  background: #ddd;
  min-height: 2px;
}

#sub-nav ul
{
  margin: 0;
  padding: 3px;
}

#sub-nav li
{
  padding: 5px 10px;
  display: inline;
}

.content
{
  background-color: white;
}

div#customize_dashboard
{
  width:auto;
  text-align:center;
}

div#customize_box_languages, div#customize_box_color, div#customize_box_banner, div#customize_texture
{
  padding: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  min-width: 600px;
}

div#color_picker_holder div
{
  margin-left: auto;
  margin-right: auto;
  background: url(../../images/colorpicker/select.png) repeat scroll center center transparent;
  height: 30px;
  width: 30px;
}

#footer-wrap
{
  padding: 10px 0 10px 0;
  font-size: .9167em;
  background-color:#FFF;clear:both;margin:auto;border-top:2px solid #DDD;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#DDD));
  background: -moz-linear-gradient(top, white, #DDD);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  text-align: center;
}

#footernav
{
  float: right;
  margin: 10px;
  color: #D1D1D1;
}
#footernavleft
{
  float: left;
  margin: 10px;
  color: #D1D1D1;
}

#poweredby
{
  width: 200px;
  margin: auto;
}

#footernav a
{
  padding: 0 5px;
}

ul.error_list, li.gcErrors
{
  color: red;
}

#transaction-history
{
  margin: 10px;
  float: left;
}

.main-column
{
  width: 70%;
}

#left-column
{
  width: 15%;
  float: left;
  min-width: 200px;
  padding-top: 15px;
  display: block;
}

.gc-mahara-sidebar-icon
{
    height: 16px;
    width: 16px;
}

div.sideblock
{
  padding: 5px 10px;
  font-size: .9167em;
  clear: both;
}

div.sideblock h3
{
  height: 20px;
  font-size: 1.3em;
  padding: 4px 5px 0 5px;
  margin: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
  background: -moz-linear-gradient(top, #EEE, #DDD);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE',endColorstr='#DDD',GradientType=0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
}

div.sideblock h3 img
{
  vertical-align:middle;
}

div.sideblock ul
{
  line-height: 1.5em;
}

div.sideblock ul li
{
  padding-bottom: 3px;
}

div.sideblock-content
{
  border: 1px solid #DDD;
  padding: 5px;
}

.sideblock-content ul
{
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sideblock-content ul td 
{
    font-size: 1em;
    font-weight: normal;
    list-style-type: none;
}

ul.sideblock-list
{
  display: inline-block;
  width: 48%;
}

.fr
{
  float: right;
}

.cb
{
  clear: both;
}

#user-profileicon
{
  float: right;
  padding-left: 3px;
  padding-top: 3px;
  margin-right: 4px;
}

#sb-profile ul
{
  list-style-type: none;
  padding-left: 0;
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

.gc-collapsed
{
    display: none;
}

#sb-profile ul li#unreadmessages a,
#sb-profile ul li#invitedgroups a,
#sb-profile ul li#pendingfriends a
{
  padding-left: 15px;
  background: url(../images/icon-mail.gif) no-repeat left 4px;
}

#sb-profile ul ul
{
  font-size: 1em;
  font-weight: normal;
  padding-left: 15px;
  padding-top: 5px;
  list-style-type: none;
}

#gc-profile-header-fullname
{
    float:left;
    max-width:130px;
}

#portfolio-left, #portfolio-right
{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.continue
{
  margin: auto;
  text-align: center;
}

#eschools_container
{
  margin: auto;
  width: 95%;
}

#edit_information, #edit_contact
{
  display: inline-block;
}

.sitemessage
{
  background-color: #FF3333;
  font-weight: bold;
  padding: 2px;
}

.sitemessage img
{
  float: left;
  padding-right: 5px;
}

#changeuser
{
  clear: both;
  margin-top: 10px;
  text-align: center;
}

#changeuser a
{
  background: url("../images/icon-login.gif") no-repeat scroll left center transparent;
  font-weight: bold;
  padding-left: 13px;
}

/*** used for Burr to space stuff out****/ 
.content_spacer_10px 
{ 
margin-top: 10px; 
margin-bottom: 10px; 
} 
 
.content_spacer_20px 
{ 
margin-top: 20px; 
margin-bottom: 20px; 
} 
 
.content_spacer_30px 
{ 
margin-top: 30px; 
margin-bottom: 30px; 
} 
 
.content_spacer_40px 
{ 
margin-top: 40px; 
margin-bottom: 40px; 
}
